@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Raleway&display=swap');
 
// Currently used fonts and brand colours
// sans-serif font for most headings
$sans-font: 'Raleway', sans-serif;
// serif font for most text
$serif-font: 'Ibarra Real Nova', serif;

// Brand/Logo colours
$brand-navy-blue: #021342;
$brand-white: whitesmoke;
$brand-lime-green: #94d60a;

// Generic styling

body {
    margin: 0;
  }

// Nav Bar styling
  
#main-nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: $brand-navy-blue;
    height: 15vh;
    text-decoration: none;
    div {
        width: 40vw;
        img {
            align-self: center;
            display: block;
            margin: auto;
            max-height: 100%;
            max-width: 55vw;
        }
    }
}
#contact-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    button {
        padding: 10px;
        margin-right: 3vw;
        background-color: $brand-lime-green;
        color: $brand-white;
        font-size: 2vh;
        font-weight: bolder;
        border-radius: 4px;
        &:hover {
            cursor: pointer;
            background-color: $brand-white;
            color: $brand-navy-blue;
        }
    }
}

// Footer

#sitewide-footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-color: $brand-navy-blue;
    color: $brand-white;
    text-align: center;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes arrow-move {
    from {padding: 6px 10px 14px 10px;}
    to {padding: 14px 10px 6px 10px;}
}
  
/* Standard syntax */
@keyframes arrow-move {
    from {padding: 6px 10px 14px 10px;}
    to {padding: 14px 10px 6px 10px;}
}

#footer-arrow-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 50vw;
    margin: 2vh -2vw 2vh 0;
    z-index: 1;
    border-radius: 15px;
    img {
        display: block;
        width: 4vh;
    }
    :first-child {
        -webkit-animation-name: arrow-move; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-direction: alternate;
        -webkit-animation-iteration-count: infinite;
        animation-name: arrow-move;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    :last-child {
        padding: 0 10px;
    }
}


// Home page transition classes

.section-container {
    display: none;
    height: 75vh;
    width: 100vw;
    opacity: 0;
}

.section-enter {
    display: flex;
    opacity: 1;
}


// HOME PAGE STYLING


#home-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    right: 0;
    bottom: 50%;
    margin-bottom: -14vh;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    button {
        height: 7vh;
        width: 7vw;
        background-color: $brand-lime-green;
        transition: color 2s, box-shadow 2s, background-color 2s;
        border: none;
        display: flex;
        justify-content: center;
        cursor: pointer;
        font-size: 0;
    }
    .current-link {
        box-shadow: inset 0 0 5px 10px $brand-lime-green;
        background-color: white;
        color: $brand-navy-blue;
    }
}


// Main Section styling

.VideoBg-module_video__2IPmN {
    display: unset;
}

#main-section-container {
    justify-content: center;
    align-items: center;
    font-family: $sans-font;
    color: $brand-white;
    h1 {
        text-align: center;
        font-size: 6vh;
        margin: 0 10vw;
        opacity: 0.8;
    }
}



// Project Section Styling

#project-section-container {
    justify-content: space-evenly;
    .project-image-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        img {
            display: block;
            height: 20vh;
        }
    }
    .project-image-container {
        position: relative;
    }
    .project-image-text {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0.05;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        background-color: $brand-white;
        color: $brand-navy-blue;
        font-family: $sans-font;
        transition: opacity 3s;
        &:hover {
            opacity: 1;
        }
    }
    .hover {
        opacity: 1;
    }
}


// About Section styling

#about-section-container {
    background-image: url("about-backdrop.jpg");
    background-size: 75vh auto;
    background-position: left;
    color: $brand-white;
}

#about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    font-size: 2vh;
    padding: 0 8vw;
    width: 50vw;
    font-family: $sans-font;
    span {
        font-style: italic;
        color: $brand-lime-green;
    }
}

#about-page-link {
    position: fixed;
    bottom: 12vh;
    left: 0;
    width: 60vw;
    text-align: center;
    a {
        color: $brand-lime-green;
        background-color: rgba(0, 0, 0, 0.253);
        padding: 3px;
        border-radius: 10%;
        text-decoration: unset;
    }
 }

#about-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2vh;
    div {
        img {
            display: block;
            height: 9vh;
            padding: 1vh;
            margin: auto;
            border: 1px solid $brand-lime-green;
            background-color: rgba(0, 0, 0, 0.527);
            border-radius: 50%;
        }
        h3 {
            margin-top: 1vh;
            text-align: center;
            font-family: $sans-font;
            //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
    }
}



// Staff Section styling

#staff-section-container {
    flex-direction: column;
    height: 85vh;
}

#staff-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

.staff-card {
    display: flex;
    border: solid 2px $brand-navy-blue;
    border-radius: 5px;
    background-color: $brand-white;
}

.staff-card-image {
    height: 18vh;
    width: auto;
    padding: 1vh;
    img {
        height: 100%;
        border-radius: 5px;
    }
}

.staff-card-details {
    border: solid 1px $brand-lime-green;
    width: 180px;
    margin: 5px;
    padding: 5px;
    font-family: $sans-font;
    h4 {
        margin: 0;
    }
    span {
        margin-top: 1vh;
        font-size: 2vh;
        font-style: italic;
    }
}

.staff-section-footer {
    height: 35vh;
    background-color: $brand-navy-blue;
    color: $brand-white;
    font-family: $serif-font;
    z-index: 2;
    text-align: justify;
    .contact-details-container {
        h4 {
            display: block;
        }
    }
}

.legal-information-container {
    width: 95vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    bottom: 1vh;
    font-size: 1.5vh;
}


// ABOUT PAGE STYLING

#about-page {
    height: 75vh;
    overflow: scroll;
    h2 {
        font-family: $sans-font;
    }
    p {
        font-family: $serif-font;
        span {
            font-weight: bolder;
        }
    }
    padding: 2vh 5vw 10vh;
}


// CONTACT PAGE STYLING


.contact-page-container {
    display: flex;
    flex-direction: column;
    color: $brand-navy-blue;
    font-family: $serif-font;
}

.contact-section-one {
    width: 80vw;
    margin: 2vh auto 0;
    p {
        margin: 1vh auto;
        width: 70vw;
        text-align: center;
        font-size: 1.5vh;
        font-family: $sans-font;
    }
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px $brand-navy-blue;
    border-radius: 30%;
    padding: 0 1vw 3vh;
    h2 {
        margin-bottom: 0;
    }
}

#contact-name {
    grid-area: name;
}
#contact-number {
    grid-area: number;
}
#contact-time {
    grid-area: time;
}
#contact-message {
    grid-area: message;
}
#contact-submit {
    grid-area: submit;
    background-color: $brand-lime-green;
    color: $brand-white;
    border-radius: 4px;
    &:hover {
        cursor: pointer;
        background-color: $brand-white;
        color: $brand-navy-blue;
    }
}

.contact-form {
    display: grid;
    grid-template-columns: 15vw 15vw 2vw 15vw 20vw;
    grid-template-rows: auto;
    grid-template-areas: 
      "name name . message message"
      "number number . message message"
      "time time . message message"
      ". submit submit submit .";
    grid-row-gap: 2vh;
}

// Contact Information Styling - Home page footer and Contact form page

.contact-info-container {
    display: flex;
    justify-content: space-evenly;
    height: 25vh;
}

.contact-details-container {
    border: solid .5px $brand-navy-blue;
    width: 42vw;
    border-radius: 10px;
    padding-left: 2vw;
    h4 {
        display: none;
    }
}

.contact-info-card {
    height: 4vh;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    img {
        display: inline-block;
        height: 100%;
        width: auto;
    }
    p {
        padding-left: 2vw;
        width: 30vw;
        font-size: 2vh;
    }
}

#weekdays {
    grid-area: weekdays;
}

#saturday {
    grid-area: saturday;
}

#sunday {
    grid-area: sunday;
}

#week-hours {
    grid-area: week-hours;
}

#sat-hours {
    grid-area: sat-hours;
}

#sun-hours {
    grid-area: sun-hours;
}

.contact-hours-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid .5px $brand-navy-blue;
    width: 42vw;
    border-radius: 10px;
}

.contact-hours-grid {
    font-size: 2vh;
    display: grid;
    grid-template-columns: 18vw 1vw 18vw;
    grid-template-rows: 5vh 5vh 5vh;
    grid-template-areas: 
      "weekdays . week-hours"
      "saturday . sat-hours"
      "sunday . sun-hours";
}

#staff-footer-logo {
    height: 10vh;
    width: auto;
    position: fixed;
    bottom: 2vh;
    right: 2vh;
}

// MEDIA BREAKPOINT STYLING

@media only screen and (min-width: 768px) and (max-width: 1025px) {
    body {
        font-size: larger;
    }
}


@media only screen and (min-width: 1025px) {
    #home-sidebar {
        button {
            color: $brand-white;
            font-size: 2.5vh;
            font-family: $sans-font;
        }
    }

    #project-section-container {
        flex-direction: column;
        .project-image-grid {
            flex-direction: row;
            img {
                height: 30vh;
            }
        }
 
    }

    #about-section-container {
        background-image: url(widescreen-about-backdrop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: center;
        
        #about-text-container {
            flex-direction: row;
            font-size: larger;
            width: 100vw;
            padding: 0;
            p {
                width: 50vw;
                font-size: 3vh;
                background-color: rgba(0, 0, 0, 0.219);
                padding: 10px;
            }
        }
    }

    #about-icons-container {
        flex-direction: row;
        div {
            h3 {
                font-size: 4vh;
            }
        }
    }

    #staff-card-container {
        flex-direction: row;
    }

    .staff-card-image {
        height: 25vh;
    }

}